<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1.0" />

    <link rel="stylesheet" href="../static/style.css">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    
    <title>Gold Price Tracker</title>
  </head>

  <body>
    <header>
      <h1>Gold Price Tracker</h1>
    </header>

    <main>
      <p>
        Hello there 👋! I'm <a href="https://github.com/grace-sampao" target="_blank">Grace</a>, an AI Systems Architect.
        <br>
        Welcome to my agent-powered personal project that tracks the price of <span>gold</span> with respect to the influence of global markets and related events on its price fluctuation.
      </p>

      <section>
        {{ gold_price_summary | safe }}
      </section>
    </main>

    <footer>
      <p>
        <a href="https://github.com/grace-sampao/Personal-Project---AI-Powered-Gold-Price-Tracker" target="_blank">GitHub Repository</a> | 
        <span id="year"></span>
      </p>
    </footer>

    <script src="../static/script.js"></script>
  </body>
</html>
